{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<header>
    <div class="logo"><img src="static/images/logo.png" alt=""></div>

    <nav class="navbar">
        <a href="{% url 'get_homepage' %}">&nbsp; &nbsp;&nbsp; &nbsp; Home</a>
        <a href="#services">Services</a>
        <a href="{% url 'doctor_list' %}">Doctors</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;</a>

        {% if user.is_authenticated %}
            <a href="{% url 'get_person' %}">Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'add_person' %}">Signup</a>
        {% endif %}

    </nav>

    <div class="menu-icons">
        <div id="menu-bar" class="fa-solid fa-bars"></div>
        <div id="searchbox" class="fa-solid fa-magnifying-glass"></div>
    </div>
</header>
<body>
    
</body>

</html>