 :root {


     --color: #1ebeb6;
     --primar-color: #efbb20;
     --navbar-color: #2c353d;
     --button-color: linear-gradient(90deg, rgba(30, 190, 182, 1) 0%, rgba(0, 130, 124, 1));
     --box-shadow: 0 0 10px #e7e7e7;
     --background: white;

 }

 * {
     margin: 0;
     padding: 0;
     outline: none;
     box-sizing: border-box;
     transition: .2s;
     text-transform: capitalize;
     transition: all .2s linear;
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
     box-sizing: border-box;


 }
 html {
     font-size: 62.5%;
     overflow-x: hidden;
     scroll-behavior: smooth;
     scroll-padding-top: 6rem;
     scroll-behavior: smooth;

 }

 header {
     background-color: var(--color);
     width: 100%;
     padding: 0rem 7%;
     z-index: 1000;
     position: fixed;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 nav a {
     color: white;
     font-size: 1.5rem;
     margin: 0 1.5rem;
     text-decoration: none;
 }
 
 
 body {
    margin: 0;
    padding: 0;
    background-image: url('/static/images/bgimage1.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
    
}
.menu-icons div {
    color: white;
    font-size: 2rem;
    margin-left: 1.5rem;
}

#menu-bar {
    display: none;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.container {
    background: rgba(255,255,255,.2);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    color: black;
    width: 50%;
    height: 200px;
    margin-bottom: 40px;
    margin-top: 140px;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 50px;
} 

/* p {
    animation-duration: 3s;
    animation-name: slidein;
} */

/* @keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
} */

.logo {
    margin-top: 40px;
}

.box {
    background: rgba(255, 255, 255, .2);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    color: black;
    width: 30%;
    height: 180px;
    border: 2px ;
    margin: 8px 10px;
    display: inline-block;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.box:hover {
    transform: scale(1.1);
}

.box:active {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    #menu-bar {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        background: var(--color);
        width: 100%;
        height: 100vh;
    }

    .navbar.active {
        left: 0;
    }

    nav a {
        display: flex;
        align-items: center;
        padding: 1.5rem;
        margin: 1rem;
        border: 3px solid var(--background);
        border-radius: 10px;
        background: var(--button-color);

    }

    .main-home {
        padding-top: 16rem;
    }

    .main-inner-home .right-content-img img {
        padding: 2rem;
    }



}

