{% load static %}
<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    
    
</head>
<body>
    <div class="box">
        <h1>Welcome to Copper Hospital</h1>
        <div class="container">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, placeat totam. Vero, soluta ut distinctio est dolorum nulla porro, reiciendis doloremque ratione, magni iste delectus? Consequuntur possimus architecto dolores nostrum.</p>

        </div>

    </div>
    
</body>
</html>
