{% load static %}
<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    
    
</head>
<body>
    <div class="content-box">
        <div class="container">
            <h1>ABOUT US</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, placeat totam. Vero, soluta ut distinctio est
                dolorum nulla porro, reiciendis doloremque ratione, magni iste delectus? Consequuntur possimus architecto
                dolores nostrum.</p>
        
        </div>
    </div>
    <div class="box">
        <h1>MISSION</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, placeat totam. Vero, soluta ut distinctio est
            dolorum nulla porro, reiciendis doloremque ratione, magni iste delectus? Consequuntur possimus architecto
            dolores nostrum.</p>
    </div>
    <div class="box">
        <h1>VISION</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, placeat totam. Vero, soluta ut distinctio est
            dolorum nulla porro, reiciendis doloremque ratione, magni iste delectus? Consequuntur possimus architecto
            dolores nostrum.</p>
    </div>
    <div class="box">
        <h1>ACHIEVEMENTS</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, placeat totam. Vero, soluta ut distinctio est
            dolorum nulla porro, reiciendis doloremque ratione, magni iste delectus? Consequuntur possimus architecto
            dolores nostrum.</p>
    </div>

    
        

 
        
        

    
</body>
</html>
