{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Registration Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% endblock %}
    <!-- <div class="container">
        <h1>Patient Registration Form</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Full Name:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="id_dob">Date Of Birth:</label>
                <input type="date" id="id_dob" name="dob">
            </div>
            <div class="form-group">
                <label for="id_age">Age:</label>
                {{ form.age }}
            </div>
            <div class="form-group">
                <label for="id_gen">Gender:</label>
                <select id="id_gen" name="gen">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                </select>
            </div>
            <div class="form-group">
                <label for="id_phn">Phone Number:</label>
                {{ form.phn }}
            </div>

            <button type="submit">Submit</button>
        </form>
    </div> -->
</body>

</html>