<!DOCTYPE html>
<html>

<body>

    <!-- <div class="container">
        {% block content %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        {% endblock %}
    </div> -->
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_time">Scheduled Time:</label>
                {{ form.scheduled_time }}
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>

</body>

</html>