{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <title>Cooper Hospital</title>
</head>
<body>
    
    <!-- <h2>Google Login</h2>
    <a href="{% provider_login_url 'google' %}?next=/">Login With Google</a>

    {% if user.is_authenticated %}
    <p>You are signed in as {{ user.email }}</p>
    <a href="logout">Logout</a>
    {% endif %} -->

    <!-- {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} -->
    {% if messages %}
    <h1 class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
    </h1>
    {% endif %}
    
    
    <div class="container">
        {% block content %}
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button" type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'add_person' %}">Sign up</a></p>
        <p>Forgot password? <a href="{% url 'custom_password_reset' %}">Reset password</a></p>
        {% endblock %}

    </div>

</body>
</html>