{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <title>Cooper Hospital</title>
</head>
{% extends 'base.html' %}
<body>
    
    <!-- <h2>Google Login</h2>
    <a href="{% provider_login_url 'google' %}?next=/">Login With Google</a>

    {% if user.is_authenticated %}
    <p>You are signed in as {{ user.email }}</p>
    <a href="logout">Logout</a>
    {% endif %} -->

    <!-- {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} -->
    {% if messages %}
    <h1 class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
        {% endfor %}
    </h1>
    {% endif %}
    
    
    <div class="container">
        
        <h2>Login</h2>
        <div class="container-lg">
            <div class="form-group">
                {% block content %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button class="button" type="submit">Login</button>
                    </div>
                </form>
            </div>     
        </div>
        <p>Don't have an account? <a href="{% url 'add_person' %}">Sign up</a></p>
        <p>Forgot password? <a href="{% url 'custom_password_reset' %}">Reset password</a></p>
                {% endblock %}

        

    </div>

</body>
</html>