.content-box1 {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    width: 20%;
    height: 200px;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    position: fixed;
    padding: 20px;
    right: 660px;
}
p {
    font-size: 22px;
}

a {
    font-size: 22px;
    
}